$primary: #00374B;
$secondary: #B3C9C5;

$theme-colors: (
  primary: $primary,    
  secondary: $secondary
);
@import 'bootstrap-custom';
@import 'bootstrap';
@import "mat-theme";
@import "materialdesignicons.min";
@import '~ngx-toastr/toastr';
@import '~@fullcalendar/core/main.min';
@import '~@fullcalendar/daygrid/main.min';
@import '~@fullcalendar/timegrid/main.min';


html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.btn:focus{
    box-shadow: none!important;
}

.ng-invalid:not(form):not(.ng-pristine)  {
    border-left: 5px solid #b93431!important; /* red */
}

.form-control:focus {
    transition: all  .1s ease-out;
    box-shadow: 0px 0px 0px #fff;
}

.form-control:focus {
    border-top-color: #fff;
    border-left-color: #fff;
    border-right-color: #fff;
    box-shadow: 0px 2px 4px  rgba(136, 136, 136, 0.589);
}

.draggable {
    -webkit-app-region: drag;
}

#window-title{
    position: absolute;
    z-index: 21;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 6px;
    height: 36px;
    line-height: 30px;
    margin: 0px!important;
    color: white;
    background-color: rgba(27, 105, 129, 0.5);
    .logo{
        height: 26px;
        vertical-align: unset;
        margin-bottom: -6px
    }
    .btn:hover{
        background-color: rgba(255, 255, 255, 0.3);
    }
  }

#window-footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 20;
    height: 28px;
    line-height: 22px;
    font-size: 16px;
    color: white;
    background-color: rgb(8, 21, 34);
    &>span{
        padding: 3px 10px;
        border-left: 1px solid #fff;
        float: right;
        .mat-icon{
            height: 16px;
            width: 16px;
            font-size: 18px;
            line-height: 18px;
        }
    }
}

*:not(input){
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}

#window-sidebar {
    position: fixed;
    left: 0;
    top: 36px;
    background: transparent;
    width: 300px;
    margin-left: -300px;
    height: calc(100vh - 64px);
    z-index: 11;
    transition: all .2s ease-in;
    overflow: hidden;
    border-right: 1px #eee solid;
    
    .list-group-item.disabled{
        opacity: .4;
        &:hover{
            cursor: not-allowed!important;
        }
    }

    &>.backdrop-sidebar{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.05);
        width: 100vw;
        height: 100vh;
        top: 36px;
        left: 0;
        z-index: -1;
        display: none;
    }
    &.opened{
        margin-left: 0px;
        &>.backdrop-sidebar{
            display: block;
        }
    }
    .collapse .list-group-item{
        background-color: rgba(185, 185, 185, 0.3);
    }
    .list-group-item{
        background: transparent;
        border-color: #eee!important;
        color: #00374B;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 18px;
        outline: none!important;
        &:hover{
            background: rgba(255, 255, 255, 0.2);
        }
        img{
            height: 24px;
        }
    }
    &::before{
        content: '';
        background: rgba(255, 255, 255, 0.95);
        filter: blur(8px);
        -webkit-filter: blur(8px);
        position: absolute;
        top: 0;
        left: -5px;
        right: -5px;
        height: calc(100vh - 64px);
    }
}


#window-content{
    position: relative;
    margin-top: 36px;
    z-index: 10;
    width: 100%;
    min-height: calc( 100vh - 64px);
    max-height: calc( 100vh - 64px);
    height: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background: linear-gradient(rgb(221, 233, 238), rgb(241, 241, 241), rgb(221, 233, 238));
}

.mat-dialog-container{
    position: relative;
    padding: 0!important;
    .mat-dialog-content{
        margin: 0!important;
        padding:  0!important;
    }
    .mat-dialog-actions{
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
        background-color: #fff;
        border-top: 1px solid #bbb;
        margin-bottom: 0px!important;
        .btn:first-child{
            margin-left: auto;
        }
    }
}

.search-input-container{
    position: relative;
    width: 100%;
    border-bottom: 1px solid #bbb;
    .search-input{
        width: 100%;
        padding: 10px 0px 10px 45px;
        font-size: 18px;
        border: 0;
        outline: none;
        z-index: 10;
    }
    .quantity-input{
        width: 80px;
        padding: 10px;
        font-size: 18px;
        border: 0;
        outline: none;
        z-index: 12;
        position: absolute;
        right: 0;
        top: 0px;
    }
    .quantity-label{
        position: absolute;
        top: 0;
        right: 80px;
        padding: 10px;
        font-size: 18px;
        margin: 0;
        font-weight: 500;
    }
    i.mdi{
        position: absolute;
        left: 10px;
        top: 6px;
    }
}


.mat-progress-spinner {
    position: relative;
    margin: 40px auto;
    circle {
        stroke: #B3C9C5!important;
    }
}

.card-shortcut{
    box-shadow: 0px 0px 10px -2px rgba(43, 63, 83, 0.3);
    border-radius: 8px;
    overflow: hidden;
    min-height: 102px;
    transition: all .2s linear;
    border: 0px;
    background-color: #00374B;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 2px 10px 0px rgba(43, 63, 83, 0.5);
        margin-top: -1px;
        margin-bottom: 1px;
    }
    &::before{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    &.button{    
        i.mdi{
            height: 100px;
            width: 100%;
            font-size: 100px;
            margin-left: 35%;
            margin-top: -15px;
            margin-bottom: -15px;
            color: rgba(83, 126, 141, 0.417);
        }
    }
    .card-img{
        width: 100%;
        height: 102px;
        object-fit: contain;
        opacity: .3;
        &.cover{
            object-fit: cover;
        }
    }
    .item-title{
        position: absolute;
        top: 5px;
        left: 5px;
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        text-shadow: 1px 1px 2px #000;
    }
    .item-shortcut{
        position: absolute;
        bottom: 10px;
        right: 5px;
        font-size: 12px;
        kbd{
          background-color: #00374B;
          border: 1px solid #ddd;
        }
    }
}


.list-sale-items{
    min-height: calc(100vh - 450px);
}

#summary-gap{
    min-height: calc( 100vh - 535px);
}

.customer-icon{
    display: block;
    width: 40px!important;
    height: 40px!important;
    line-height: 40px!important;
    font-size: 24px;
    border-radius: 30px;
    background-color: #eee;
    color: #666;
    text-align: center;
}

sale-created{
    i.mdi{
        height: 200px;
        width: 200px;
        font-size: 200px;
        color: #fff;
    }
    &::before{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        height: 464px;
        background-color: rgb(57, 134, 57);
    }
}

input.form-control{
    &::placeholder { color: #d2e6e6 }
    &::-webkit-input-placeholder { color: #d2e6e6 }
    &::-moz-placeholder { color: #d2e6e6 }
    &:-ms-input-placeholder { color: #d2e6e6 }
    &:-moz-placeholder { color: #d2e6e6 }
}

th.sortable{
    cursor: pointer;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none;
}

.mat-progress-bar-background {
    fill: #B3C9C5!important;
    .mat-progress-bar-buffer {
        background-color: #00374B!important;
    }
}

.mat-paginator-container{
    justify-content: center!important;
    min-height: 30px!important;
    border-top: 1px solid #eee;
    .mat-paginator-page-size-select{
        margin-top: 0px!important;
        .mat-form-field-wrapper{
            padding-bottom: 1em!important;
        }
    }
}

.mat-form-field-wrapper{
    padding-bottom: 1em!important;
}

.mat-button-toggle-appearance-standard {
    &.mat-button-toggle-checked{
        background-color: $primary;
        color: #fff;
    }
    .mat-button-toggle-label-content{
        line-height: 36px!important;
    }
}

*[tooltip]{
    position: relative;
    &:hover:before{
        margin-top: 10px;
        opacity: 1;
        z-index: 9999;
    }
    &:hover:after{
        opacity: 1;
        bottom: -11px;
    }
    &:before{
        content: attr(tooltip);
        position: absolute;
        display: block;
        background-color: $primary;
        width: auto;
        padding: 6px 8px;
        color: #fff;
        font-weight: lighter;
        left: 0;
        top: 100%;
        border-radius: 4px;
        opacity: 0; 
        z-index: -1;
        line-height: 15px;
        text-align: center;
        font-size: 16px;
        transition: all .3s ease;
    }
    &:after {
        content: "";
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
        left: 1px;
        bottom: 0px;
        border-style: solid;
        border-width: 0 6px 6px 6px;
        border-color: transparent transparent $primary transparent;
        transition: all .3s ease;
    }
}

.payment-input{
    width: 100%;
    text-align: center!important;
    color: $primary;
    border-width: 0px 0px 2px 0px;
    margin-bottom: 15px;
    border-color: $primary;
    font-size: 60px;
    font-weight: 100;
    line-height: 70px;
    outline: none;
    &::selection{
     background: lighten($secondary, 20);
     color: $primary!important;
    } 
    &::-moz-selection{
     background: lighten($secondary, 20);
     color: $primary!important;
    }
}
ngx-daterangepicker-material {
    .md-drppicker {
        min-width: 610px;
        .ranges ul li button.active, td.active, td.active:hover {
            background-color: $primary;
        }
    }
}


.cc_flag{
    opacity: .2;
    &:hover{
        opacity: .6;
        filter: grayscale(.3);
    }
    &.selected{
        opacity: 1;
        filter: grayscale(0);
    }
}
.flag-cc{
    vertical-align: sub;
}

.btn-round, .btn-round kbd{
    border-radius: 20px;
}

.fixed-table-head {
    position: sticky;
    top: 0px;
}

.truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tooltiptext {
    visibility: hidden;
    opacity: 0;
    margin-left: -4px;
    background-color: $primary;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 0px 4px;
    position: absolute;
    z-index: 1;
}

.tooltip-table:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
    transition: opacity .2s ease-in-out;
}

.card-table-horizontal{
   max-height: 78vh;
   overflow: auto;
}

.w-300{
    min-width: 300px;
    width: 300px;
    max-width: 300px;
}
.w-80{
    min-width: 80px;
    width: 80px;
    max-width: 80px;
}

.fc-scroller.fc-time-grid-container{
    max-height: calc(100vh - 200px);
}

.fc-header-toolbar{
    margin-bottom: .8em!important;
    .fc-button{
        font-size: 80%;
    }
    .fc-left{
        h2{
            display: inline!important;
            font-size: 95%;
            line-height: 44px;
            padding: 0px 10px;
        }
    }
}

.fc-event{
    transition: all .4s ease;
    box-shadow: 4px 6px 14px -6px rgba(124, 124, 124, 0.2);
    border-width: 0px 0px 0px 5px;
    padding-left: 1px;
    &:hover{
     box-shadow: 4px 8px 14px -2px rgba(124, 124, 124, 0.5);
     z-index: 999999!important;
    }
}

@media (max-width: 1152px) { 
    .total-text, .total-amount {
        width: 50%!important;
    }

    app-new-sale {
        #pay-sale kbd {
            width: 110px;
            display: block;
            font-size: 14px;
            margin: 0 auto!important;
        }
        #code-header, #code-value {
            display: none;
        }
    }

    #summary-gap {
        min-height: calc(100vh - 574px);
    }
}

@media (max-width: 1280px) and (max-height: 600px) {
    app-new-sale #pay-sale {
        margin-top: 0.25rem !important;
        margin-top: 0.25rem !important;
    }
    .sale-summary {
        margin-bottom: 0 !important;
    }
}